<div class="ui-g">
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12 " style="background: rgb(230, 230, 230); height: 90%">
      <base-menu>Loading ...</base-menu>
    </div>
  </div>

  <div class="ui-g-12 ui-md-10">
    <div class="ui-g-12 " style="background: rgb(230, 230, 230); height: 90%">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div  class="ui-g-12">
    <div class="ui-g-12" style="background: rgb(230, 230, 230)">
      <b><i>Actives</i></b>
    </div>
  </div>
</div>